.Ehr {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: lightgray;
}

.Site-content {
  flex: 1;
  height: 100vh;
}

.Site-content .Ehr-buttons {
  background: greenyellow;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 2px;
}

.Site-content .Ehr-buttons p {
  color: black;
  margin: 0.4rem;
  font-size: calc(6px + 1vmin);
  flex: 1;
}

.Site-content .Ehr-buttons button {
  margin: 3px;
  font-size: calc(4px + 1vmin);
  max-height: 3vh;
}

.message-panel {
  display: flex;
  max-height: 35vh;
  min-height: 30vh;
  width: 95vw;
  flex-direction: row;
  margin: 1rem;
}

.Site-content .message-panel p {
  font-size: calc(6px + 1vmin);
  color: #61dafb;
}

.message-panel div {
  padding: 1vw 1vw 2vw 2vw;
  border-radius: 4px;
}

textarea {
  min-height: 20vh;
  min-width: 45vw;
}

.to-send {
  display: flex;
  flex-direction: column;
  background-color:slategray;
}

.send-button {
  background-color: rgba(8, 200, 8, 0.329);
}

.from-app {
  display: flex;
  flex-direction: column;
}

.Ehr-message {
  width: 45vw;
  display: flex;
  height: 60vh;
  flex: 1;
}

.Ehr iframe {
  flex: 1;
  width: calc(100vw - 5vw);
  margin: 2.0rem;
  height: 35vh;
}
.Ehr code {
  background: #FFF3;
  padding: 4px 8px;
  border-radius: 4px;
}
.Ehr p {
  color: inherit;
  font-size: calc(10px + 1vmin);
  margin: 0.8rem;
}
.Ehr pre {
  margin: 2.0rem;
  color: #c0ff33;
  background: #FFF3;
  padding: 4px 8px;
  font-size: calc(10px + 1vmin);
  border-radius: 4px;
  text-align: left;
}

.Ehr-scratchpad {
  background-color: #282c66;
  font-size: calc(10px + 2vmin);
  color: lightblue;
  max-height: 25vh;
  overflow: auto;
}
.Ehr p {
  color: inherit;
  font-size: calc(10px + 1vmin);
  margin: 0.8rem;
}

.Ehr-header {
  background: #01a77e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #c0ff33;
}

.Ehr-footer {
  background: #01a77e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #c0ff33;
}
